<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AllFilter</filter-name>
        <filter-class>filter.CategoryFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccountFilter</filter-name>
        <filter-class>filter.AccountFilter</filter-class>
    </filter>
    <filter>
        <filter-name>BookFilter</filter-name>
        <filter-class>filter.BookFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckoutFilter</filter-name>
        <filter-class>filter.CheckoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckoutFilter</filter-name>
        <url-pattern>/checkout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccountFilter</filter-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/my-order</url-pattern>
        <url-pattern>/carts</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/remove</url-pattern>
        <url-pattern>/add</url-pattern>
        <url-pattern>/change</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/order-detail</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/dbadmin</url-pattern>
        <url-pattern>/tbl-user</url-pattern>
        <url-pattern>/tbl-product</url-pattern>
        <url-pattern>/tbl-order</url-pattern>
        <url-pattern>/update-order</url-pattern>
        <url-pattern>/configs</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/edit-user</url-pattern>
        <url-pattern>/edit-product</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BookFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AllFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>controller.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsServlet</servlet-name>
        <servlet-class>controller.CartsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartsServlet</servlet-name>
        <servlet-class>client.AddtoCartsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServlet</servlet-name>
        <servlet-class>client.RemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DSAdminServlet</servlet-name>
        <servlet-class>admin.DSAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>controller.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBAdminServlet</servlet-name>
        <servlet-class>admin.DBAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>admin.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableUserServlet</servlet-name>
        <servlet-class>admin.TableUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableProductServlet</servlet-name>
        <servlet-class>admin.TableProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>controller.CollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>client.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>admin.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>admin.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableOrderServlet</servlet-name>
        <servlet-class>admin.TableOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrderServlet</servlet-name>
        <servlet-class>client.MyOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>admin.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigsWebServlet</servlet-name>
        <servlet-class>admin.ConfigsWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartsServlet</servlet-name>
        <servlet-class>client.UpdateCartsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsServlet</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartsServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBAdminServlet</servlet-name>
        <url-pattern>/dbadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edit-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableUserServlet</servlet-name>
        <url-pattern>/tbl-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableProductServlet</servlet-name>
        <url-pattern>/tbl-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/collection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableOrderServlet</servlet-name>
        <url-pattern>/tbl-orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrderServlet</servlet-name>
        <url-pattern>/my-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/order-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/update-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigsWebServlet</servlet-name>
        <url-pattern>/configs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartsServlet</servlet-name>
        <url-pattern>/updatecarts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
